button {
    border: 1px solid #333333;
    width: 40vw;
    height: 10vw;
    background-color: #ffffff;
    border-radius: 5vw;
    box-shadow: 1px 1px #656565;
    margin-bottom: 2vw;
}

.ButtonActive {
    background-color: #90edf9
}

input {
    border: 1px solid #333333;
    width: 40vw;
    height: 10vw;
    font-size: 6vw;
    text-align: center;
}

.MethodTitle {
    width: 100%;
    position: relative;
}

.buttonToggle {
    position: absolute;
    right: 0;
    font-size: 2vw;
}

.DivBorder {
    border: 1px solid #333;
    width: 20vw;
    height: 10vw;
}

.wrap {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    background-color: rgba(255, 117, 76, 1);
    font-family: QingGua;
}

.mixiujuan {
    color: #ffffff;
    font-size: 10vw;
    font-weight: bold;
    letter-spacing: 5vw;
    text-align: center;
    text-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    margin: 40vw 0 30vw;
}

.mixiujuan span {
    display: inline-block;
    transition: transform 0.25s;
}

.mixiujuan span:hover {
    transform: translateY(-20px) rotate(10deg) scale(1.5);
}

.accountarea {
    width: 100%;
    text-align: center;
}

.accountarea span {
    color: #ffffff;
    font-size: 6vw;
}

.accountarea input {
    height: 6vw;
    border: none;
    border-radius: 1vw;
    font-weight: bold;
    color: rgba(255, 117, 76, 1);
    font-size: 4vw;
    text-align: center;
}

.accountarea button {
    border-radius: 2vw;
    border: none;
    height: 10vw;
    width: 30vw;
    color: rgba(255, 117, 76, 1);
    background-color: #ffffff;
    box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.2);
    margin-top: 10vw;
    font-weight: bold;
    font-size: 6vw;
}

.heart {
    display: inline-block;
    width: 10vw;
    height: 8vw;
    position: relative;
}

.heart:before {
    content: "";
    width: 5vw;
    height: 8vw;
    display: block;
    position: absolute;
    left: 50%;
    background: #FF0000;
    border-radius: 2.5vw 2.5vw 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}

.heart:after {
    content: "";
    width: 5vw;
    height: 8vw;
    display: block;
    background: red;
    transform: rotate(45deg);
    border-radius: 2.5vw 2.5vw 0 0;
    transform-origin: 100% 100%;
}

.infoArea {
    text-align: center;
    color: palegreen;
    font-weight: bold;
    height: 4vw;
    line-height: 4vw;
}

.accountInfo {
    text-align: center;
}

.acctitle {
    font-size: 6vw;
}

.memory {
    color: #fff;
    font-size: 4vw;
    text-align: center;
    line-height: 6vw;
    animation: memoryFont 2s infinite;
    animation-direction: alternate;
    -webkit-animation: memoryFont 2s infinite;
    -webkit-animation-direction: alternate;
}
.memory img{
    width: 3vw;
}

@keyframes memoryFont {
    0% {
        font-size: 4vw;
    }

    100% {
        font-size: 6vw
    }
}

@-webkit-keyframes memoryFont {
    0% {
        font-size: 4vw;
    }

    100% {
        font-size: 6vw
    }
}

.starnight {
    background: radial-gradient(200% 100% at bottom center, #f7f7b6, #e96f92, #75517d, #1b2947);
    background: radial-gradient(220% 105% at top center, #1b2947 10%, #75517d 40%, #e96f92 65%, #f7f7b6);
    background-attachment: fixed;
    overflow: hidden;
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}

@font-face {
    font-family: 'QingGua';
    src: url('font/qinggua.ttf')
}

@keyframes rotate {
    0% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
    }

    100% {
        transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
    }
}

.stars {
    transform: perspective(500px);
    transform-style: preserve-3d;
    position: absolute;
    bottom: 0;
    perspective-origin: 50% 100%;
    left: 50%;
    animation: rotate 90s infinite linear;
}

.star {
    width: 2px;
    height: 2px;
    background: #F7F7B6;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 0 0 -300px;
    transform: translate3d(0, 0, -300px);
    backface-visibility: hidden;
}

.txt {
    color: #fff;
    font-family: QingGua;
    font-size: 5.8vw;
    text-align: center;
    margin-top: 6vw;
    letter-spacing: 1vw;
}

.bigTxt {
    font-size: 8.8vw;
}

.moonImg {
    width: 68%;
    display: none;
}

.peopleImg {
    height: 60vw;
    bottom: 0;
    position: absolute;
    right: 0;
    display: none;
}

.imgShow img {
    display: block;
    width: 200px;
    border: 0;
}

.container {
    position: relative;
    margin-top: 50px;
}

.imgShow {
    position: absolute;
    float: left;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -webkit-transition: all .7s ease-out .1s;
    -moz-transition: all .7s ease-out .1s;
    -o-transition: all .7s ease-out .1s;
    transition: all .7s ease-out .1s;
}

#loading {
    background-color: #bd4932;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-top: 0px;
    top: 0px;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 200px;
    width: 200px;
    margin-top: -100px;
    margin-left: -100px;
}

#object {
    width: 80px;
    height: 80px;
    background-color: #FFF;
    -webkit-animation: animate 1s infinite ease-in-out;
    animation: animate 1s infinite ease-in-out;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
}

@-webkit-keyframes animate {
    0% {
        -webkit-transform: perspective(160px);
    }

    50% {
        -webkit-transform: perspective(160px) rotateY(-180deg);
    }

    100% {
        -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg);
    }
}

@keyframes animate {
    0% {
        transform: perspective(160px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    }

    50% {
        transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
    }

    100% {
        transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
    }
}